<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>

        <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <p><b>Welcome <%=name%>!</b></p>
                    </div>
                    <div class="col-7">
                        <a class="purpleButton" href="/logout" style="float: right;">Log Out</a>
                        <% if(role=='Admin' ) { %>
                            <a class="purpleButton" href="/contact" style="float: right;">Members</a>
                            <% } %>
                    </div>
                </div>
                <div class="whiteBox">
                    <%- include('includes/searchbar.ejs') %>
                    <% if(role=='Admin' ) { %>
                        <div class="col-2">
                
                            <button type="button" id="selectButton" class="purpleButton" style="float: right;"
                                onclick="startSelect()">Select</button>
                            <div id="countBox" class="pinkBox" style="float: right;">
                                <div>Selected (please select more than one): </div>
                                <div id="numberSelected" style="font-weight: bold;"></div>
                                <button type="submit" id="approveButton"
                                    formaction="/approve/mutipleApprove">Approve</button>
                                <button type="submit" id="deleteButton"
                                    formaction="/approve/mutipleDelete">Delete</button>
                                <button type="button" onclick="cancleSelect()">Cancle</button>
                            </div>
                        </div>
                        <% } %>

                </div>
                <% if(userData.length !=0){ %>
                    <div class="row">
                        <div class="col">
                            <button id="selectButton" style="float: right;" formaction=""
                                onclick="startSelect()">Select</button>
                            <form method="POST">
                                <div id="countBox" class="pinkBox" style="float: right;">
                                    <div>Selected (please select more than one): </div>
                                    <div id="numberSelected" style="font-weight: bold;"></div>
                                    <button type="submit" id="approveButton"
                                        formaction="/approve/mutipleApprove">Approve</button>
                                    <button type="submit" id="deleteButton"
                                        formaction="/approve/mutipleDelete">Delete</button>
                                    <button type="button" onclick="cancleSelect()">Cancle</button>
                                </div>
                                <table class="table2 whiteBox" id="contactList" border="1">
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Area</th>
                                        <th>Status</th>
                                        <th>Delete</th>
                                        <th>Approve</th>
                                    </tr>
                                    <% if(userData.length !=0){ var i=1; userData.forEach(function(data){ %>
                                        <tr>
                                            <td>
                                                <%=i%>
                                            </td>
                                            <td>
                                                <%=data.name%>
                                            </td>
                                            <td>
                                                <%=data.email%>
                                            </td>
                                            <td>
                                                <%=data.phone%>
                                            </td>
                                            <td>
                                                <%=data.area%>
                                            </td>
                                            <td>
                                                <%=data.role%>
                                            </td>
                                            <td>
                                                <a class="red"
                                                    href="/approve/delete/<%=data.email%>/<%=data.username%>">Delete</a>
                                            </td>
                                            <td>
                                                <a class="red"
                                                    href="/approve/approved/<%=data.email%>/<%=data.username%>">Approve</a>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="checkBox" id="<%=i%>" class="checkbox"
                                                    onclick="select()" value="<%=data.email%>">
                                            </td>
                                        </tr>

                                        <% i++; }); } %>
                                </table>
                            </form>
                        </div>
                    </div>
                    <% } else { %>
                        <h2>NOT FOUND</h2>
                        <% } %>
            </div>
        </body>
        <script>
            var selectButton = document.getElementById('selectButton');
            var approveButton = document.getElementById('approveButton');
            var deleteButton = document.getElementById('deleteButton');
            var countBox = document.getElementById('countBox');
            var number = document.getElementById('numberSelected');
            var checkBoxes = document.getElementsByName('checkBox');

            for (i = 0; i < checkBoxes.length; i++) {
                checkBoxes[i].style.display = 'none';
            };
            selectButton.style.display = 'block';
            countBox.style.display = 'none';
            approveButton.disabled = true;
            deleteButton.disabled = true;
            number.innerHTML = 0;

            function startSelect() {
                window.selectInterval = setInterval(select, 100);
                selectButton.style.display = 'none';
                countBox.style.display = 'block';
                for (i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].style.display = 'block';
                };
            }

            function cancleSelect() {
                clearInterval(window.selectInterval);
                countBox.style.display = 'none';
                selectButton.style.display = 'block';
                for (i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].style.display = 'none';
                };
            };

            function select() {
                var selected = document.querySelectorAll('input[type = checkbox]:checked').length
                number.innerHTML = selected;
                if (selected <= 1) {
                    approveButton.disabled = true;
                    deleteButton.disabled = true;
                } else {
                    approveButton.disabled = false;
                    deleteButton.disabled = false;
                }
            }
        </script>

</html>