<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manage Contact</title>
    <link rel='stylesheet' href='/css/styleSheet.css' />
    <link rel="stylesheet" href="/css/theBand.css" asp-append-version="true" />
</head>
<script>
    // function startSearching() {
    //     var a = 0;
    //     var emailList = new Array();
    //     emailList[0] = "hungtrinh@gmail.com";
    //     emailList[1] = "hantrinh@gmail.com";
    //     emailList[2] = "uyennguyen@gmail.com";

    //     var nameList = new Array();
    //     nameList[0] = "Hung";
    //     nameList[1] = "Han";
    //     nameList[2] = "Uyen";

    //     var phoneList = new Array();
    //     phoneList[0] = "0901234567";
    //     phoneList[1] = "0902345678";
    //     phoneList[2] = "0903456789";
    //     var searchInput = document.getElementById("emailId").value;



    //     for (var i = 0; i < emailList.length; i++) {
    //         if (searchInput == emailList[i]) {
    //             alert("Name: " + nameList[i] + " Email: " + emailList[i] + " Phone: " + phoneList[i]);
    //             a++;
    //         }
    //     }
    //     if (a == 0) {
    //         alert("Not found");
    //     }
    // }
</script>
<div class="w3-top w3-bar w3-black">
    <a class="w3-bar-item w3-button" href="/">Home</a>
    <a class="w3-bar-item w3-button" href="/about">About</a>
    <a class="w3-bar-item w3-button" href="/contact">Members</a>
</div>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <p>Welcome @Context.Session.GetString("username")!</p>
            </div>
            <div class="col-2 logOut">
                    <form action="/" method="GET">
                        <input type="submit" value="Log out" class="purpleButton">
                    </form>
            </div>
        </div>
        <div class="row whiteBox">
            <form action="/approve/search" method="POST">
                <input type="text" name="searchInput" placeholder="Email" id="emailId" value="<%=input%>">
                <input type="submit" value="Search">
            </form>
            <!-- <form action="/addMember" method="GET">
                <input type="submit" value="Add Member">
            </form> -->
        </div>
        <%
        if(userData.length != 0){
        %>
        <div class="row">
            <div class="col">
                <table class="table2 whiteBox" id="contactList" border="1">
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Area</th>
                        <th>Delete</th>
                        <th>Approve</th>
                    </tr>
                    <%
                        if(userData.length != 0){
                            var i = 1;
                            userData.forEach(function(data){
                        %>
                        <tr>
                            <td><%=i%></td>
                            <td><%=data.name%></td>
                            <td><%=data.email%></td>
                            <td><%=data.phone%></td>
                            <td><%=data.area%></td>
                            <td>
                                <a href="/contact/delete/<%=data.email%>">Delete</a>
                            </td>
                            <td><a href="/contact/approve/<%=data.email%>">Approve</a></td>
                        </tr>
                        
                        <%
                            i++;
                            });
                        }
                        %>
                </table>
            </div>
        </div>
        <%
        } else {
        %>
        <h2>NOT FOUND</h2>
        <%
        }
        %>
    </div>
</body>

</html>