<!DOCTYPE html>
<html>
<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>

        <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <p><b>Welcome <%=name%>!</b></p>
                    </div>
                    <div class="col-7">
                        <a class="purpleButton" href="/logout" style="float: right;">Log Out</a>
                        <% if(role=='Admin' ) { %>
                            <a class="purpleButton" href="/approve" style="float: right;">Approve</a>
                            <% } %>
                    </div>
                </div>
                <% if(userData.length !=0) { %>
                    <form method="POST">
                        <div class="whiteBox searchbar">
                            <%- include('includes/searchbar.ejs') %>
                            <% if(role=='Admin' ) { %>
                                <div class="select-section">
                        
                                    <button type="button" id="selectButton" class="purpleButton" style=" width: 100%;"
                                        onclick="startSelect()">Select</button>
                                    <div id="countBox" class="pinkBox">
                                        <div>Selected (please select more than one): </div>
                                        <div id="numberSelected" style="font-weight: bold;"></div>
                                        <button type="submit" id="deleteButton"
                                            formaction="/contact/mutipleDelete">Delete</button>
                                        <button type="button" onclick="cancleSelect()">Cancle</button>
                                    </div>
                                </div>
                                <% } %>

                        </div>
                        <div class="whiteBox row">
                            <table class="table2 " id="contactList" border="1">
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Area</th>
                                    <th>Role</th>
                                    <% if(role=='Admin' ){ %>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                        <% } %>
                                </tr>
                                <% if(userData.length !=0){ var i=1; userData.forEach(function(data){
                                    if(data.role !='not approved' ){ %>
                                    <tr id="<%=data.name%>" class="<%=data.area%>">
                                        <td>
                                            <%=i%>
                                        </td>
                                        <td>
                                            <%=data.name%>
                                        </td>
                                        <td>
                                            <%=data.email%>
                                        </td>
                                        <td>
                                            <%=data.phone%>
                                        </td>
                                        <td>
                                            <%=data.area%>
                                        </td>
                                        <td>
                                            <%=data.role%>
                                        </td>
                                        <% if(role=='Admin' ){ %>
                                            <td>
                                                <a class="red"
                                                    href="/contact/delete/<%=data.email%>/<%=data.username%>">Delete</a>
                                            </td>
                                            <td><a class="red" href="/contact/edit/<%=data.email%>">Edit</a>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="checkBox" id="<%=i%>"
                                                    class="checkbox" onclick="select()" value="<%=data.email%>">
                                            </td>
                                            <% } %>
                                    </tr>

                                    <% i++; } }); } %>
                            </table>

                        </div>
                    </form>
                    <% } else { %>
                        <h2>NOT FOUND</h2>
                        <% } %>
            </div>
        </body>
        <script>
            var selectButton = document.getElementById('selectButton');
            var approveButton = document.getElementById('approveButton');
            var deleteButton = document.getElementById('deleteButton');
            var countBox = document.getElementById('countBox');
            var number = document.getElementById('numberSelected');
            var checkBoxes = document.getElementsByName('checkBox');

            for (i = 0; i < checkBoxes.length; i++) {
                checkBoxes[i].style.display = 'none';
            };
            selectButton.style.display = 'block';
            countBox.style.display = 'none';
            approveButton.disabled = true;
            deleteButton.disabled = true;
            number.innerHTML = 0;

            function startSelect() {
                window.selectInterval = setInterval(select, 100);
                selectButton.style.display = 'none';
                countBox.style.display = 'block';
                for (i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].style.display = 'block';
                };
            }

            function cancleSelect() {
                clearInterval(window.selectInterval);
                countBox.style.display = 'none';
                selectButton.style.display = 'block';
                for (i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].style.display = 'none';
                };
            };

            function select() {
                var selected = document.querySelectorAll('input[type = checkbox]:checked').length
                number.innerHTML = selected;
                if (selected <= 1) {
                    deleteButton.disabled = true;
                } else {
                    deleteButton.disabled = false;
                }
            }
        </script>

</html>