<!doctype html>
<html lang="en">

<%- include('includes/head.ejs') %>
  <%- include('includes/nav.ejs') %>
    <%- include('includes/back-to-top.ejs')%>
      <%- include('includes/preloader.ejs')%>

        <body>
          <header>
            <!-- place navbar here -->
          </header>
          <main>
            <div class="container-fluid">

              <div class="newsfeed">
                <div class="whiteBox">
                  <div class="openBtn">
                    <button class="openButton" onclick="openForm()"><strong>Write Your Post</strong></button>
                  </div>
                </div>
                <div class="loginPopup">
                  <div class="formPopup" id="popupForm">
                    <form action="/forum/publish_post" class="formContainer" enctype="multipart/form-data"
                      method="POST">
                      <div id='errorMess-wrapper-pass' class="alert alert-primary alert-dismissible fade show"
                        role="alert">
                        <strong id='errorMessPassword'></strong>
                      </div>
                      <h2>What is your Situation?</h2>
                      <input type="text" id="post-title" placeholder="Title" name="title" autocomplete="off" required>
                      <textarea id="post-content" placeholder="Details" class="pwc" name="content" autocomplete="off"
                        required></textarea>
                      <input type="file" accept="image/*" id="file" name="file" onchange="checkfile()">
                      <button id="submitbtn" type="submit" class="btn">Publish</button>
                      <button type="reset" class="btn">Clear</button>
                      <button type="button" class="btn cancel" onclick="closeForm()"></button>
                    </form>
                  </div>
                </div>
                <% if(posts.length !=0){posts.forEach(function(data){ %>
                  <div class="whiteBox post">
                    <div class="post-title">
                      <h3><b>
                          <%=data.title%>
                        </b></br></h3>
                    </div>
                    <div class="post-content">
                      <p>
                        <i>Posted by: <%=data.username%> - <%=data.date.getDate()%>/<%=data.date.getMonth() + 1%>/
                                <%=data.date.getFullYear()%> - <%=data.date.getHours()%>h<%=data.date.getMinutes()%>'
                        </i>
                      </p>
                      <%=data.content%>
                    </div>
                    <% if(data.img !=null){ %>
                      <img src="uploads/<%=data.img%>" alt="img">
                      <% } %>
                  </div>
                  <% })}; %>
              </div>
            </div>
          </main>
          <footer>
            <!-- place footer here -->
          </footer>
          <script>
            document.querySelector('#errorMess-wrapper-pass').style.display = 'none';
            // img.addEventListener('change', () => {
            //   if (img.slice(-3) != 'png' || img.slice(-3) != 'jpg'){
            //     alert('error')
            //   }
            // })
            function checkfile() {
              var img = document.getElementById('file').files.item(0).name;
              if (img.slice(-3) != 'png' && img.slice(-3) != 'jpg') {
                document.querySelector('#errorMess-wrapper-pass').style.display = 'block';
                document.querySelector('#errorMessPassword').innerHTML = 'Please choose an image!'
                document.getElementById('submitbtn').disabled = true;
              } else {
                document.querySelector('#errorMess-wrapper-pass').style.display = 'none';
                document.getElementById('submitbtn').disabled = false
              }
            }
          </script>
        </body>

</html>