<!DOCTYPE html>
<html>

<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<style>
    input{
        width: 100%;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('includes/sidepic1.ejs') %>
            <div class="col-8">
                <div class="row pinkBox width80">
                    <h3 class="formTitle col">Register</h3>
                </div>
                <div class="row whiteBox width80">
                    <form class="registerForm" name="registerForm" action="/addMember_add" method="POST">
                        <%- include('includes/errorNotice.ejs') %>
                        <table border="1" class="tableForm">
                            <h4>Log-in information</h4>
                            <tr>
                                <td>Username</td>
                                <td><input class="inputForm" type="text" id="username" name="username" required></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input class="inputForm" type="password" id="pass1" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
                            </tr>
                            <tr>
                                <td>Re-Password</td>
                                <td><input class="inputForm" type="password" id="pass2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
                            </tr>                    
                        </table>
                        <table border="1" class="tableForm">
                            <h4>User information</h4>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" id="name" name="name" required></td>
                            </tr>
                            <tr>
                                <td>Phone number</td>
                                <td><input type="text" id="phone" name="phone" pattern="[0-9]{10}" 
                                    title="Phone number with 7-9 and remaing 9 digit with 0-9" required></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></td>
                            </tr>
                            <tr>
                                <td>Area</td>
                                <td>
                                    <select class="inputForm" name="area" id="area">
                                        <option value="" selected></option>
                                        <option value="UNITED KINGDOM">UNITED KINGDOM</option>
                                        <option value="VIETNAM">VIETNAM</option>
                                    </select>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>Retype password</td>
                                <td><input type="password" id="password2" required></td>
                            </tr> -->
                        </table>
                        <div class="homebuttons">
                            <button class="submitButton purpleButton width40" type="submit" name="submit">Register</button>
                            <button type="reset" class="submitButton purpleButton width40">Clear</button>

                        </div>
                    </form>
                </div>
            </div>
            <%- include('includes/sidepic2.ejs') %>
        </div>
    </div>
</body>
<script>
    setInterval(addMember, 100);

    document.querySelector("button").disabled = true;

    function addMember() {
        var getName = document.getElementById('name').value;
        var getEmail = document.getElementById('email').value;
        var getPhone = document.getElementById('phone').value;
        var getUsername = document.getElementById('username').value;
        var getPass1 = document.getElementById('pass1').value;
        var getPass2 = document.getElementById('pass2').value;
        var getArea = document.getElementById('area').value;

        var errorMessagePass = document.getElementById('errorMessPassword');
        var errorMessageWrapperPass = document.getElementById('errorMess-wrapper-pass');

        errorMessageWrapperPass.style.display = 'none';

        if (getName == "" || getEmail == "" || getPhone == "" || getUsername == "" || getPass1 == "" || getPass2 == "" || getArea == "") {
            document.querySelector("button").disabled = true;
            errorMessageWrapperPass.style.display = 'block';
            errorMessagePass.innerHTML = "Please fill out the blank(s)";
        } else if (getPass1 != getPass2) {
            document.querySelector("button").disabled = true;
            errorMessageWrapperPass.style.display = 'block';
            errorMessagePass.innerHTML = "Passwords don't match!";;
        } else {
            document.querySelector("button").disabled = false;
            errorMessageWrapperPass.style.display = 'none';
        }
    }
</script>

</html>